.app-container {
    box-sizing: padding-box;
    margin: 0 auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.app-limiter {
    width: 100%;
    margin: 0 auto;
}

.app-width-100 {
    width: 100%;
}

.app-width-30 {
    width: 30%;
}

.app-overflow-hidden {
    overflow: hidden;
}

/* cursors */
.cursor-pointer {
    cursor: pointer;
}
/* end cursors */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* margins */
.margin-t-15p {
    margin-top: 15px;
}

.margin-t-20p {
    margin-top: 20px;
}

.margin-b-none {
    margin-bottom: 0px;
}

.margin-b-50p {
    margin-bottom: 50px;
}

.margin-l-25px {
    margin-left: 25px;
}

/* paddings */
.padding-t-10p {
    padding-top: 10px;
}

.padding-t-15p {
    padding-top: 15px;
}

.padding-t-20p {
    padding-top: 20px;
}

.padding-t-50p {
    padding-top: 50px;
}

.padding-r-10p {
    padding-right: 10px;
}

.padding-b-10p {
    padding-bottom: 10px;
}

.padding-b-20p {
    padding-bottom: 20px;
}

.padding-b-30p {
    padding-bottom: 30px;
}

.padding-b-50p {
    padding-bottom: 50px;
}

.padding-l-10p {
    padding-left: 10px;
}
/* end paddings */

/* displays */
.inline-block {
    display: inline-block;
}
/* end displays */

/* flex */
.flex-content-center {
    @include core-display-flex();
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
/* end flex */

@media (min-width: 768px) {
    .app-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .app-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .app-container {
        width: 1170px;
    }
}
