/////////* schemes *//////////
$brand-background-color-white: #ffffff;
$brand-background-color: #F0F3F3;
$brand-primary-color: #3498db;
$brand-primary-hover: #2980b9;
$brand-primary-color-border: #122b40;
$brand-primary-card-color: #27B6AF;
$brand-primary-box-shadow-color: rgba(3, 216, 222, 0.2);
$brand-primary-content-background-color: #adadad;
$brand-primary-content-view-bgcolor: #e4e8eb;
$brand-primary-gradient-first-color: #d5007d;
$brand-primary-gradient-second-color: #e53935;
$brand-secondary-color: #1da1f2;
$brand-custom-color-1: #ea4335;
$brand-custom-color-2: #e33e02;

/////////* brand properties *//////////
/* button */
$brand-primary-button-bg-color: #a64bf4;
$brand-primary-button-bg-color-t1: $brand-primary-color;
$brand-primary-button-bg-color-t2: $brand-primary-hover;

$brand-primary-color-header: #939598;
$brand-primary-color-header-border: #4b4b4d;
$brand-primary-color-header-hover: #7c7e81;

/* input */
$brand-primary-input-color: #515151;
$brand-primary-input-focus-color: #a64bf4;
$brand-primary-input-bg-color: #7f7f7f;
$brand-primary-input-border-color: #d9d9d9;

/* forms */
$brand-primary-form-border-color: #e1e1e3;
$brand-primary-icon-ph-hover: #c87ef0;

/* table */
$brand-table-message-color: rgba(0, 0, 0, 0.54);
$brand-table-border-bordered-color: #dddddd;

/* aside */
$brand-aside-bg-color: #e8519e;
$brand-aside-bg-gradient-color: #c77ff2;

/* format */
$brand-primary-title-color: #333333;
$brand-primary-ref-color: #69b7de;
$brand-primary-paragraph-color: #666666;
$brand-widget-mini-text-color: #565656;
